<div class="content">
  <h2 *ngIf="voting">{{voting.name}}</h2>
  <h3 *ngIf="voting">{{voting.description}}</h3>
  <span *ngIf="(activeQuestion) && !isObserver">
    <div>
      <h3><strong>Select responses below:</strong></h3>
      <h4>{{activeQuestion.title}}</h4>
      <h5>{{activeQuestion.description}}</h5>
     <mat-chip-list class="mat-chip-list-stacked" aria-label="Responses selection" *ngIf="!isAnswered()">
       <mat-chip class="response" *ngFor="let response of activeQuestion.responses; let position=index" selected
                 [ngStyle]="{'background-color': color[position]}" (click)="submitAnswer(response.name)">
        {{response.name}}
       </mat-chip>
     </mat-chip-list>
    </div>
  </span>
  <div *ngIf="isAnswered()">
    <h3>You already voted</h3>
  </div>
  <div *ngIf="(!activeQuestion) && !isObserver && !isAnswered()">
    <h3>Currently there is no active voting ...</h3>
  </div>
  <div *ngIf="(activeQuestion && activeQuestion.answered && activeQuestion.answered.length>0)">
    <h3>Here is what others think:</h3>
    <div style="display: block" *ngIf="activeQuestion.answered && activeQuestion.answered.length>0">
      <h4 style="margin-left: 5%">{{activeQuestion.title}}:</h4>
      <canvas baseChart
              [data]="chartData()"
              [labels]="chartLabels()"
              [options]="chartOptions"
              [chartType]="chartType"></canvas>
    </div>
  </div>
</div>
